<div class="btn-group">
  <button onclick="toAddSerial()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>新增流水</button>
</div>
<div class="span12">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>流水号</th>
        <th>会员</th>
        <th>日期</th>
        <th>项目</th>
        <th>折扣</th>
        <th>消费</th>
        <th>余额</th>
        <th>美甲师</th>
      </tr>
    </thead>
    <tbody>
      <% locals.serials.forEach(function(s,index){ %>      
      <tr>
        <td><%= s.id %></td>
        <td><%= s.vip %></td>
        <td><%= s.date.format('yyyy-MM-dd hh:mm') %></td>
        <td><%= s.project %></td>
        <td><%= s.discount %></td>
        <td><%= s.price %></td>
        <td><%= s.balance %></td>
        <td><%= s.artist %></td>
        <td>
          <a href="javascript:void(0)" title="删除流水"  onclick="delConfirm('/serialdel/<%= s.id %>','确定要删除这条流水吗？',listSerial);" class="btn btn-default"><serialspan class="glyphicon glyphicon-minus"></span></a>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <ul class="pagination">
    <li><a href="/serial/query?num=1">&laquo;</a></li>
    <% for(var i = 1 ; i <= locals.pageCount ; i++ ) { 
        if(locals.num == i) { %>
          <li class="active"><a href="/serial/query?num=<%=i%>"><%= i %></a></li>
        <% } else{ %>
          <li><a href="/serial/query?num=<%=i%>"><%= i %></a></li> 
    <% }} %>
    <li><a href="/serial/query?num=<%= locals.pageCount%>">&raquo;</a></li>
  </ul>
</div>

<script src="/js/serial.js"></script>
