<div class="row">
  <div class="col-xs-3 col-md-4">
    <button onclick="toAddUser()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> 新建会员</button>
  </div>
  <form class="col-xs-7 col-xs-offset-2 col-md-6 col-md-offset-2 form-inline" action="/user/query" id="user_query_form" role="form">
    <div class="input-group">
      <label class="sr-only" for="user-name">用户名</label>
      <input id="user-name" type="text" placeholder="输入用户名，Enter 搜索，支持模糊查询" class="form-control" name="keyword"> 
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
      </span>
    </div>
  </form>
</div>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>会员名</th>
      <th>级别</th>
      <th>余额</th>
    </tr>
  </thead>
  <tbody>
    <% locals.users.forEach(function(u,index){ %>      
    <tr>
      <td><%= u.name %></td>
      <td><%= u.rankType %></td>
      <td><%= u.balance %></td>
      <td>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            <span class="glyphicon glyphicon-pencil"></span> 
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="delConfirm('/vipdel/<%= u.id %>','确定要删除该会员吗？',listUser);">删除用户</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="toUpdateUser('/vipupdate/<%= u.id %>')">修改用户</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="topupVip('/viptopup/<%= u.id %>',this)">用户充值</a></li>
          </ul>
        </div>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
<ul class="pagination">
  <li><a href="javascript:void(0)" onclick="listUser(1)">&laquo;</a></li>
  <% for(var i = 1 ; i <= locals.pageCount ; i++ ) { 
      if(locals.num == i) { %>
        <li class="active"><a href="javascript:void(0)" onclick="listUser(<%=i%>)"><%= i %></a></li>
      <% } else{ %>
        <li><a href="javascript:void(0)" onclick="listUser(<%=i%>)"><%= i %></a></li> 
  <% }} %>
  <li><a href="javascript:void(0)" onclick="listUser(<%=locals.pageCount%>)">&raquo;</a></li>
</ul>
<script>
$('#user_query_form').ajaxForm(function(data) {
  $('#user_query').html(data);
});
</script>