<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>会员名</th>
      <th>充值日期</th>
      <th>充值金额</th>    
    </tr>
  </thead>
  <tbody>
    <% locals.topups.forEach(function(u,index){ %>      
    <tr>
      <td><%= u.user %></td>
      <td><%= u.date.format('yyyy-MM-dd hh:mm') %></td>
      <td><%= u.money %></td>
      <td>
        <botton title="删除"  onclick="delConfirm('/topup/del/<%= u.id %>','确定要删除这条充值记录吗？',listTopup);" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></botton>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
<ul class="pagination">
  <li><a href="javascript:void(0)" onclick="listTopup(1)">&laquo;</a></li>
  <% for(var i = 1 ; i <= locals.pageCount ; i++ ) { 
      if(locals.num == i) { %>
        <li class="active"><a href="javascript:void(0)" onclick="listTopup(<%=i%>)"><%= i %></a></li>
      <% } else{ %>
        <li><a href="javascript:void(0)" onclick="listTopup(<%=i%>)"><%= i %></a></li> 
  <% }} %>
  <li><a href="javascript:void(0)" onclick="listTopup(<%= locals.pageCount%>)">&raquo;</a></li>
</ul>