<div class="row">
  <form class="col-md-6 col-md-offset-6 form-inline" action="/topup/query" id="topup_query_form" role="form">
    <div class="input-group col-sm-10">
      <label class="sr-only" for="user-name">用户名</label>
      <input id="user-name" type="text" placeholder="搜索特定用户的充值记录" class="form-control" name="keyword"> 
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary""><span class="glyphicon glyphicon-search"></span></button>
      </span>
    </div>
  </form>
</div>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>会员名</th>
      <th>充值日期</th>
      <th>充值金额</th>    
    </tr>
  </thead>
  <tbody>
    <% locals.topups.forEach(function(u,index){ %>      
    <tr>
      <td><%= u.user %></td>
      <td><%= u.date.format('yyyy-MM-dd hh:mm') %></td>
      <td><%= u.money %></td>
      <td>
        <botton title="删除"  onclick="delConfirm('/topup/del/<%= u.id %>','确定要删除这条充值记录吗？',listTopup);" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></botton>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
<ul class="pagination">
  <li><a href="javascript:void(0)" onclick="listTopup(1)">&laquo;</a></li>
  <% for(var i = 1 ; i <= locals.pageCount ; i++ ) { 
      if(locals.num == i) { %>
        <li class="active"><a href="javascript:void(0)" onclick="listTopup(<%=i%>)"><%= i %></a></li>
      <% } else{ %>
        <li><a href="javascript:void(0)" onclick="listTopup(<%=i%>)"><%= i %></a></li> 
  <% }} %>
  <li><a href="javascript:void(0)" onclick="listTopup(<%= locals.pageCount%>)">&raquo;</a></li>
</ul>
<script>
$('#topup_query_form').ajaxForm(function(data) {
  $('#topup_query').html(data);
});
</script>